doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title The Best Motherfucking Website
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="The Best Motherfucking Website")
  link(rel="stylesheet" type="text/css" href="../../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
 body
  h1 Crochet Frog by Holly Lanier
  blockquote
    p Five years ago, I was commissioned by Bella Coco Crochet to design this darling frog pattern. Before then, I had always struggled to come up with a cute frog design. But being on a deadline with no other choice, I pushed myself to get creative. As a result, Ribbert the Frog was created! I may be biased, but I think Ribbert is one of the cutest amigurumi frogs out there. I hope you agree and enjoy this free frog amigurumi pattern!
    p Meet Ribbert the Frog! Ribbert is a Cajun frog from the Louisiana Bayou. He loves everything about his home, but especially the delicious food his mama makes! His favorites are gumbo and jambalaya. He loves listening to jazz and enjoys spending time with his friend Richie the Gator.
    author Holly Lanier on storylandamis.blog
  p #[a(href="https://blog.bellacococrochet.com/crochet-frog/") Reference blog], and from #[a(href="https://storylandamis.blog/free-frog-amigurumi-pattern-easy-crochet-tutorial/") original designed Holly Lanier's blog]
  h2 Pattern: Crochet Frog
  h3 Head
  ul
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4: *Sc 2, inc* rep 6 times (24 sts)
    li R5: *Sc 3, inc* rep 6 times (30 sts)
    li R6: *Sc 4, inc* rep 6 times (36 sts)
    li R7: *Sc 5, inc* rep 6 times (42 sts)
    li R8: *Sc 6, inc* rep 6 times (48 sts)
    li R9: *Sc 7, inc* rep 6 times (54 sts)
    li R10: *Sc 8, inc* rep 6 times (60 sts)
    li R11: *Sc 9, inc* rep 6 times (66 sts)
    li R12-20: Sc in all 66 sts (9 rounds total—66 sts)
    li R21: *Sc 9, dec* rep 6 times (60sts)
    li R22: *Sc 8, dec* rep 6 times (54 sts)
    li R23: *Sc 7, dec* rep 6 times (48 sts)
    li R24: *Sc 6, dec* rep 6 times (42 sts)
    li R25: *Sc 5, dec* rep 6 times (36 sts)
    li R26: *Sc 4, dec* rep 6 times (30 sts)
    li Start to stuff the head, continuing to stuff as you go on.
    li R27: *Sc 3, dec* rep 6 times (24 sts)
    li R28: *Sc 2, dec* rep 6 times (18 sts)
    li R29: *Sc 1, dec* rep 6 times (12 sts)
    li R30: *Dec* rep 6 times (6 sts)
  p Finish off and weave in ends. We will embroider the smile after we sew the eyes on.
  h3 Eyes (make 2 using green yarn)
  img(src="./Pic-1-Foundation-ch-for-eyes-collage-1024x205.jpeg" title="A nice and cute cat" alt="white and gray cat looking at you, with his yellow and green eyes")
  p This is called a foundation chain and is a great way to start a piece that you want to be more oval than round. After crocheting through the top loops of the chain, you turn your work around and crochet in the bottom loops of the chain. The first round is complete! Now you just continue as you normally would working in the round.
  ul
    li R1: Ch 7, starting in 2nd ch from hook, sc 6, rotate your work 180 degrees and in the front loops of the ch, sc 6 (12 sts)
    li R2: Inc 1, sc 3, inc 3, sc 3, inc 2 (18 sts)
    li R3-4: Sc in all 18 sts (2 rounds total—18 sts)
    li R5: Sc 1, inc 1, sc 3, *sc 1, inc 1* repeat 3 times, sc 3, *sc 1, inc 1* rep 2 times (24 sts)
  p Finish off leaving a long tail for sewing.
  h3 Body (using green yarn)
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4: *Sc 2, inc* rep 6 times (24 sts)
    li R5: *Sc 3, inc* rep 6 times (30 sts)
    li R6: *Sc 4, inc* rep 6 times (36 sts)
    li R7-11: Sc in all 36 sts (5 rounds total—36 sts)
    li R12: *Sc 4, dec* rep 6 times (30 sts)
    li R13-16: Sc in all 30 sts (4 rounds total—30 sts)
  p Finish off leaving long tail for sewing.
  h3 Thighs (make 2 using green yarn)
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4-6: Sc in all 18 sts (3 rounds total—18 sts)
  p 
    | Finish off leaving long tail for sewing however do not stuff.
    | Fold the thighs in half and sew the open ends closed.
    | Pin the thighs in place to ensure you are happy with the placement before sewing them onto the body.
    | Please note: Because the thighs are slightly curved when placed on the body, you’ll sew the corners/sides of the thighs to R7 and R8 of the body and the very bottom edge of the thigh to R6.
    | When you finish sewing the bottom (straight edge) of the thigh to the body weave your needle to the top of the thigh and grab a stitch or two and sew those to the side of the body. This will firmly secure it to the body without having to sew all the way around the thigh and lose its puffy shape.
  h3 Feet (make 2 using green yarn)
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: Sc in all 6 sts (6 sts)
  p Toes 
  ul
    li R3: *Sl st, ch 6, sl st in next sc* rep 3 times. We will NOT be working into any of the ch sts we make. All sl sts are worked into the sc sts on R2. The toes will look like little loops when completed.
  p 
  | Time to finish off leaving tail for sewing. Pin feet to the bottom front of the thighs.
  | Sew the feet onto the thighs going all the way around the top round of the feet. Weave in all ends.
  h3 Arms (make 2 using green yarn)
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2-7: Sc in all 6 sts (6 rounds total—6 sts)
    p We will now make the toes just like we did on the feet. (Refer to “feet” section for pics.)
  ul
    li R3: *Sl st, ch 6, sl st in next sc* rep 3 times. We will NOT be working into any of the 6 ch sts we make. All sl sts are worked into the sts on R2. The toes will look like little loops when completed.
  p Fasten off leaving long tail for sewing.
