doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title The Best Motherfucking Website
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="The Best Motherfucking Website")
  base(href="https://crudalilium.github.io/crochete-website/")
  link(rel="stylesheet" type="text/css" href="../../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  //link(rel='manifest' href='/site.webmanifest')
 body
  h1 Watermelon Cat Crochet Pattern
  p #[a(href="https://www.studocu.com/es-mx/document/universitas-airlangga/akuntansi-manajemen/uika-t4e-cat-rus-hello-my-name-is-yuta/109152003") Reference]
  img(src="./bg1.png" title="bg1" alt="bg1")
  img(src="./bg2.png" title="bg2" alt="bg2")
  img(src="./bg3.png" title="bg3" alt="bg3")
  img(src="./bg4.png" title="bg4" alt="bg4")
  img(src="./bg5.png" title="bg5" alt="bg5")
  img(src="./bg6.png" title="bg6" alt="bg6")
  h2 Head (White Yarn)
  ul 
    li Rnd 1: inc, 12 sc, 4 sc in the last stitch, then work along the other side of the chain: 12 sc, inc (32)
    li Rnd 2: 2 inc, 12 sc, 4 inc, 12 sc, 2 inc (40)
    li Rnd 3: 1 sc, inc, 16 sc, inc, 2 sc, inc, 16 sc, inc, 1 sc (44)
    li Rnd 4: 44 sc (44)
    li Rnd 5: 2 sc, inc, 16 sc, inc, 4 sc, inc, 16 sc, inc, 2 sc (48)
    li Rnd 6: 48 sc (48)
    li Rnd 7: (7 sc, inc) x 6 (54)
    li Rnd 8: 54 sc (54)
    li Rnd 9: (inc, 6 sc) x 4, (inc, 12 sc) x 2 (60)
    li Rnd 10: 60 sc (60)
    li Rnd 11: (inc, 7 sc) x 4, (inc, 13 sc) x 2 (66)
    li Rnd 12: 66 sc (66)
    li Rnd 13: (inc, 8 sc) x 4, (inc, 14 sc) x 2 (72)
    li Rnd 14: 72 sc (72)
    li Rnd 15: (17 sc, inc) x 4 (76)
    li Rnd 16: 76 sc (76)
    li Rnd 17: (18 sc, inc) x 4 (80)
    li Rnd 18-19: 80 sc (80)
    li Rnd 20: (8 sc, dec) x 8 (72)
    li Rnd 21: (10 sc, dec) x 6 (66)
    li Rnd 22: (9 sc, dec) x 6 (60)
    li Rnd 23: (8 sc, dec) x 6 (54)
    li Rnd 24: (7 sc, dec) x 6 (48)
    li Rnd 25: BLO: (2 sc, dec) x 12 (36)
    li Rnd 26: (4 sc, dec) x 6 (30)
  p Fasten off and hide ends. Insert 8mm eyes between Rnds 14 and 15, 13 stitches apart. Stuff the head. Embroider the nose and mouth with black thread.
  h2 Ears (Make 2, White Yarn)
  ul 
    li Rnd 1: 5 sc in MR (5)
    li Rnd 2: (1 sc, inc) x 2, 1 sc (7)
    li Rnd 3: (2 sc, inc) x 2, 1 sc (9)
    li Rnd 4: (3 sc, inc) x 2, 1 sc (11)
    li Rnd 5: (4 sc, inc) x 2, 1 sc (13)
    li Rnd 6: (5 sc, inc) x 2, 1 sc (15)
    li Rnd 7: (6 sc, inc) x 2, 1 sc (17)
    li Rnd 8: (7 sc, inc) x 2, 1 sc (19)
  p Do not stuff. Fasten off and leave a long tail. Flatten the ear and sew to the top of the head.
  h2 Legs (Make 2, White Yarn)
  ul
    li Rnd 1: 6 sc in MR (6)
    li Rnd 2: 6 inc (12)
    li Rnd 3: (1 sc, inc) x 6 (18)
    li Rnd 4-6: 18 sc (18)
    li Rnd 7: 18 sc, sl st (18)
  p Fasten off the first leg. Make the second leg but do not cut the yarn. Join green yarn to start the body. Stuff both legs firmly.
  h2 Body (White, Green, and Red Yarn)
  ul
    li Start with Green yarn. From the 2nd leg, ch 3.
    li Rnd 8: 18 sc on 1st leg, 3 sc along chain, 18 sc on 2nd leg, 3 sc along chain (42)
    li Rnd 9: (6 sc, inc) x 6 (48)
    li Rnd 10: (7 sc, inc) x 6 (54)
    li Rnd 11: 54 sc (54)
    li Change to White yarn.
    li Rnd 12: 54 sc (54)
    li Change to Red yarn.
    li Rnd 13-18: 54 sc (54)
    li Rnd 19: (7 sc, dec) x 6 (48)
    li Rnd 20: 48 sc (48)
    li Rnd 21: (6 sc, dec) x 6 (42)
    li Rnd 22: 42 sc (42)
    li Rnd 23: (5 sc, dec) x 6 (36)
    li Rnd 24: 36 sc (36)
    li Rnd 25: (4 sc, dec) x 6 (30)
    li Rnd 26: BLO: 30 sc (30)
    li Change to White yarn.
    li Rnd 27: 30 sc (30)
  p Fasten off, leave a long tail for sewing. Stuff the body. Embroider black seeds on the red part.
  h2 Collar (Red Yarn)
  ul
    li Hold the body legs up.
    li Rnd 1: Join yarn to FLO of Rnd 25: ch 1, (1 sc, ch 4, 1 sc) in each stitch around.
    li Arms (Make 2, White Yarn)
    li Rnd 1: 6 sc in MR (6)
    li Rnd 2: 6 inc (12)
    li Rnd 3-13: 12 sc (12)
  p Do not stuff. Fold the top flat and work 4 sc through both sides to close. Fasten off and leave a tail for sewing.