doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title The Best Motherfucking Website
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="The Best Motherfucking Website")
  base(href="https://crudalilium.github.io/crochete-website/")
  link(rel="stylesheet" type="text/css" href="../../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  //link(rel='manifest' href='/site.webmanifest')
 body
  h1 Crochet Cactus in a pot
  p Part of pattern is freestyled, mainly the cactus itself is just a ball and stitched together, pot and flower pattern is from reference blog below.
  p #[a(href="https://www.windingroadcrochet.com/free-crochet-cactus-pattern-a-quick-plushie-to-love/") Reference blog]
  h2 Pattern: Cactus
  img(src="./pic1.jpg" title="A nice crochet smilling cactus inside a pot" alt="crochet toy, smilling green cactus inside a brown pot")
  h3 Pot (use brown or black yarn)
  ul
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4: *Sc 2, inc* rep 6 times (24 sts)
    li R5: *Sc 3, inc* rep 6 times (30 sts)
    li R6: BLO Sc in all 30 sts (30sts)
    li R7-10: Sc in all 30 sts (30sts)
    li R11: FLO Sc in all 30 sts (30sts)
    li R12: Sc in all 30 sts (30sts)
    li R13: FLO Sc in all 30 sts (30sts)
    li R14-15: Sc in all 30 sts (30sts)
    li Fold the sides in R11 and R13
    li R16: Stitch to the side of the pot, with slip stitch
  p Finish off and leave the rest inside the pot
  h3 Cactus body - main and side (use green yarn)
  p Main cactus body is slightly larger
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4: *Sc 2, inc* rep 6 times (24 sts)
    li R5: *Sc 3, inc* rep 6 times (30 sts)
    li R6: *Sc 4, inc* rep 6 times (36 sts)
    li R7: *Sc 5, inc* rep 6 times (42 sts)
    li R8-13: Sc in all 42 sts (42 sts)
    li R14: *Sc 5, dec* rep 6 times (36 sts)
    li R15: *Sc 4, dec* rep 6 times (30 sts)
    li Start to stuff, continuing to stuff as you go on.
    li R16: *Sc 3, dec* rep 6 times (24 sts)
    li R17: *Sc 2, dec* rep 6 times (18 sts)
    li R18: *Sc 1, dec* rep 6 times (12 sts)
    li R19: *Dec* rep 6 times (6 sts)
    li Finish off and leave long tail for stitching
  p Put eyes wherever you feel like, if you want to make angry cactus, use black yarn and add eyebrown, or use pink yarn and add cheeks.
  p Sides are smaller, but pretty much the same (#[b make 2])
  ul 
    li R1: Ch 2, 6 sc in 2nd ch from hook
    li R2: *Inc* rep 6 times (12 sts)
    li R3: *Sc 1, inc* rep 6 times (18 sts)
    li R4: *Sc 2, inc* rep 6 times (24 sts)
    li R5: *Sc 3, inc* rep 6 times (30 sts)
    li R6-9: Sc in all 42 sts (42 sts)
    li R10: *Sc 3, dec* rep 6 times (24 sts)
    li Start to stuff the head, continuing to stuff as you go on.
    li R11: *Sc 2, dec* rep 6 times (18 sts)
    li R12: *Sc 1, dec* rep 6 times (12 sts)
    li R13: *Dec* rep 6 times (6 sts)
    li Finish off and leave tail for stitching
  p 
  | Stuff the pot slightly, don't over stuff otherwise the bottom will be round and not sit well. If you have heavier filling it is recommended to use it, but not neccesary.
  | Stitch the main cactus body to the pot, use the side of the pot, that is overlapped by the rim.
  | Once the main cactus and the pot are sitting, you can add the sides on the main body, you can stitch it wherever you want, but be careful it stays balanced.
  h3 Flower - red, or pink yarn (#[b make 2 or 3])
  p 
  | You can use pattern from reference blog, instead of Ch2 use Ch3, I used chain 2, because it looked better - holes were smaller so looked more like a flower.
  | Use red of pink yarn 
  ul 
    li Make magic ring 
    li R*: Ch 2, Dc, Ch2, Sl St to MC
    li repeat up to 5 times
    li leave short tail for stitching