doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title The Best Motherfucking Website
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="The Best Motherfucking Website")
  base(href="https://crudalilium.github.io/crochete-website/")
  link(rel="stylesheet" type="text/css" href="../../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  //link(rel='manifest' href='/site.webmanifest')
 body
  h1 Crochet pattern for a doggo
  p Dog Pattern – Henley the Hound
  blockquote
    p I am so so excited to share with you my free crochet dog pattern for Henley the Hound. Henley is a sweet and playful puppy that is just begging to be played with. Henley is a crochet dog that is sitting on his hind legs and is holding his paws up to ask for a treat or for someone to play with him.
    p This free crochet dog pattern is suitable for intermediate crocheters or adventurous beginners and makes a great gift.
    p I’ve included detailed instructions and photo tutorial support to help you through the assembly of your new cute dog best friend.
    p This free crochet dog pattern has been sponsored by Clover USA. All opinions are my own.
    author Ashley Parker
  p #[a(href="https://theloopylamb.com/free-crochet-dog-pattern-henley-the-hound/") Reference blog]
  h2 Pattern: Dog
  p 
  | I used only one color, if you want to follow original reference blog, change color of tail and ears.
  | This was quite a big project, it took over 2 and 1/4 of bulks of yarn (about 260 meters total) and there are a 11 parts total that have to stitched together.
  img(src="./pic1-doggo.jpg" title="A crochet dog sitting on hind legs and raising both paws" alt="crochet toy, brown dog sitting on hind legs, with paws in the air")
  h3 Head
  ul
    li R1: Using Colour A, make a MC and SC 6 into the MC. (6)
    li R2: (SCINC) x 6. (12)
    li R3: (SC, SCINC) x 6. (18)
    li R4: SC, SCINC, (SC 2, SCINC) x 5, SC. (24)
    li R5: (SC 3, SCINC) x 6. (30)
    li R6 – 10: SC around. (30)
    li R11: (SCINC, SC 2) x 5, SCINC, SC 14. (36)
    li R12: (SCINC, SC 3) x 5, SCINC, SC 15. (42)
    li R13: SC 2, SCINC, (SC 4, SCINC) x 5, SC 14. (48) – Insert safety eyes in STS 10 and 25 of Row 13
    li R14 – 15:  SC around. (48)
    li R16: (SCINC, SC 5) x 5, SCINC, SC 17. (54)
    li R17 – 23:  SC around. (54)
    li R24:  SC 2, SCDEC, (SC 4, SCDEC) x 8, SC 2. (45)
    li R25 – 26: SC around. (45)
    li R27: SCDEC, (SC 3, SCDEC) x 8, SC 3. (36) – Start stuffing, adding a bit more stuffing after each round.  Stuff firmly.
    li R28: SC 2, SCDEC, (SC 4, SCDEC) x 5, SC 2. (30)
    li R29: (SC 3, SCDEC) x 6. (24)
    li R30: (SC 2, SCDEC) x 6. (18)
    li R31: (SC, SCDEC) x 6. (12)
    li R32: (SCDEC) x 6. (6)
  p FO and weave the tail through the FLO of the last round to close the hole. Weave in end.
  h3 Body
  ul 
    li R1: Using Colour A, make a MC and SC 6 into the MC. (6)
    li R2: (SCINC) x 6. (12)
    li R3: (SC, SCINC) x 6. (18)
    li R4: SC, SCINC, (SC 2, SCINC) x 5, SC. (24)
    li R5: (SC 3, SCINC) x 6. (30)
    li R6: SC 2, SCINC, (SC 4, SCINC) x 5, SC 2. (36)
    li R7: (SC 5, SCINC) x 6. (42)
    li R8 – 26: SC around. (42)
    li R27: (SC 5, SCDEC) x 6. (36)
    li R28: SC around. (36) – If using Poly Pellets, add them to the nylon stocking. Secure the top with a knot (or your preferred method) and place it in the bottom of the body now.  Start stuffing, adding a bit more every couple of rounds. 
    li Make sure to stuff around the Poly Pellet pack.  Stuff firmly.
    li R29: SC 2, SCDEC, (SC 4, SCDEC) x 5, SC 2. (30)
    li R30: SC around. (30)
    li R31: (SC 3, SCDEC) x 6. (24)
    li R32: SC around. (24)
    li R33: SC, SCDEC, (SC 2, SCDEC) x 5, SC. (18)
  p Join last ST to first ST with a SL ST and FO leaving a long tail to sew the head onto the body. Sew body onto head. For a playful look, sew the head slightly off center/leaned to one side. 
  h3 Left Arm
  ul
    li R1: Using Colour A, make a MC and SC 8 into the MC. (8)
    li R2: (SCINC) x 2, SC 2, (SCINC) x 2, SC 2. (12)
    li R3:  SC around. (12)
    li R4: SCINC, SC 1, SCINC, SC 3, SCINC, SC 1, SCINC, SC 3 (16)
    li R5 – 8: SC around (16)
    li R9 – 12: In FLO, SL ST 8, working back under both loops, SC 8 (16) – Start stuffing, adding a bit more stuffing every couple of rounds.  Stuff firmly.
    li R13 – 18: SC around. (16)
    li R19: SC 7, (SCDEC) x 4, SC. (12)
    li R20: SC around. (12)
    li R21: SC 6, (SCDEC) x 3. (9)
    li R22: SC 5, (SCDEC) x 2. (7)
  p FO leaving a long tail that’s long enough to close the top of the arm and sew it onto the body. Use the tail to whip stitch the top of the arm closed.
  h3 Right Arm
  ul 
    li R1: Using Colour A, make a MC and SC 8 into the MC. (8)
    li R2: (SCINC) x 2, SC 2, (SCINC) x 2, SC 2. (12)
    li R3: SC around. (12)
    li R4: SCINC, SC, SCINC, SC 3, SCINC, SC, SCINC, SC 3. (16)
    li R5 – 8: SC around. (16)
    li R9 – 12: In FLO, SL ST 8, working back under both loops, SC 8 (16) – Start stuffing, adding a bit more stuffing every couple of rounds.  Stuff firmly.
    li R13 – 18: SC around. (16)
    li R19: (SCDEC) x 3, SC 8, SCDEC. (12)
    li R20: SC around. (12)
    li R21: (SCDEC) x 3, SC 6. (9)
    li R22: (SCDEC) x 2, SC 5. (7)
  p FO leaving a long tail that’s long enough to close the top of the arm and sew it onto the body. Use the tail to whip stitch the top of the arm closed. 
  h3 Ears (#[b Make Two])
  p It is recommended to stitch ears at last, or at least after head to body and arms to the body, so they are not in the way for the arms.
  ul
    li R1: Using Colour B, make a MC and SC 6 into the MC. (6)
    li R2: (SCINC) x 6. (12)
    li R3: (SC, SCINC) x 6. (18)
    li R4: (SC 2, SCINC) x 6. (24)
    li R5: (SC 3, SCINC) x 6. (30)
    li R6 – 8: SC around. (30)
    li R9: SCDEC, SC 13, SCDEC, SC 13. (28)
    li Close up image of the dark brown ear on the dog toy made with this free crochet dog pattern.
    li R10: SC around. (28)
    li R11: SCDEC, SC 12, SCDEC, SC 12. (26)
    li R12: SC around. (26)
    li R13: SCDEC, SC 11, SCDEC, SC 11. (24)
    li R14: SC around. (24)
    li R15: SCDEC, SC 10, SCDEC, SC 10. (22)
    li R16:  SC around. (22)
    li R17: (SCDEC) x 2, SC 7, (SCDEC) x 2, SC 7. (18)
    li R18: SC around. (18)
    li R19: (SCDEC) x 2, SC 5, (SCDEC) x 2, SC 5. (14)
    li R20: (SCDEC) x 2, SC 3, (SCDEC) x 2, SC 3. (10)
  p Join last ST to the first ST with a SL ST.
  p FO leaving a long tail that’s long enough to close the top of the ear and sew it onto the head. DO NOT STUFF.  Use the tail to whip stitch the top of the ear closed.
  p Sew an ear onto either side of the head, lining the tops of the ears to be in line with the center of the eyes.
  h3 Thighs (#[b Make Two])
  ul 
    li R1: Using Colour A, make a MC and SC 6 into the MC. (6)
    li R2: (SCINC) x 6. (12)
    li R3: (SC, SCINC) x 6. (18)
    li R4: (SC 2, SCINC) x 6. (24)
    li R5: (SC 3, SCINC) x 6. (30)
    li R6 – 8: SC around. (30)
    li R9: SCDEC, SC 13, SCDEC, SC 13. (28)
    li R10: SC around. (28)
    li R11: (SCDEC) x 2, SC 10, (SCDEC) x 2, SC 10. (24)
    li R12: SC around. (24)
    li R13: (SCDEC) x 2, SC 8, (SCDEC) x 2, SC 8. (20)
    li R14: SC around. (20)
    li R15: (SCDEC) x 2, SC 6, (SCDEC) x 2, SC 6. (16)
    li R16: SC around. (16)
  p Join last ST to the first ST with a SL ST. 
  p FO leaving a long tail to sew piece to body. Flatten the piece (it will naturally want to curve) and pin around the outside of the piece to either side of the lower part of the body, lining the bottoms of the piece up with the outside edge of each foot. 
  h3 Feet  (#[b Make Two])
  ul
    li R1: Using Colour A, make a MC and SC 8 into the MC. (8)
    li R2: (SCINC) x 2, SC 2, (SCINC) x 2, SC 2. (12)
    li R3:  SC around. (12)
    li R4: SCINC, SC, SCINC, SC 3, SCINC, SC, SCINC, SC 3. (16)
    li R5 – 9: SC around. (16)
    li R10: (SCDEC) x 3, SC 10. (13)
    li R11: (SCDEC) x 3, SC 7. (10) – Add stuffing to the foot. Stuff firmly.  Do not add any more stuffing to the foot beyond this point.
    li R12 – 16: SC around. (10)
    li R17: (SCDEC) x 5. (5)
  p FO leaving a long tail for sewing.  Weave the tail through the FLO of the last round to close the hole.  Flatten the part of the foot that was not stuffed.  This part will lay flat against the bottom of the body. 
  p Pin the feet to the body and wait to sew them on until after both thighs are completed.
  h3 Tail 
  ul 
    li R1: Using Colour B, make a MC and SC 4 into the MC. (4)
    li R2: SC around. (4)
    li R3: (SCINC, SC) x 2. (6)
    li R4: SC around. (6) – Start stuffing.  Adding more stuffing after each few rows.  Stuff firmly.
    li R5: (SCINC, SC 2) x 2. (8)
    li R6 – 8: SC around. (8)
    li R9: (SC 3, SCINC) x 2. (10)
    li R10 – 26: SC around. (10)
  p Join last ST to the first ST with a SL ST.  FO leaving a long tail for sewing. 
  p Stand your dog upright and place the tail near the bottom of the base, at the back of the dog so it rests on the table and assists the dog in standing upright on its own.  Sew to the base using the tail of yarn left from finishing the tail.