doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title The Best Motherfucking Website
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="The Best Motherfucking Website")
  base(href="https://crudalilium.github.io/crochete-website/")
  link(rel="stylesheet" type="text/css" href="../../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  //link(rel='manifest' href='/site.webmanifest')
 body
  h1 Crochet pattern for a sausage doggo
  p Amigurumi dachshund dog pattern
  blockquote
    p This cute dachshund dog crochet pattern is the perfect amigurumi project for dog lovers. The body and head are made as one piece, the arms are attached with single crochet as you crochet the body.
    author Darya Neustroeva
  p #[a(href="https://amigurum.com/2023/07/amigurumi-dachshund-dog-pattern.html") Reference blog]
  h2 Pattern: Dachshund (sausage) dog
  p 
  | I used only one color, if you want to follow original reference blog, change color of tail and ears.
  | This was quite a big project, it took over 2 and 1/4 of bulks of yarn (about 260 meters total) and there are a 11 parts total that have to stitched together.
  img(src="./pic1-sausage-dog.jpg" title="A crochet toy of sausage dog in a pants and hoodie" alt="crochet toy, brown sausage dog in purple pants and orange hoodie")
  